body{
    margin:0 auto;
    width:100%;
    background-color: grey;
}
h1{
    margin-top:10px;
    background-color:rgb(65, 63, 63);
    color:#f8f8f8;
    text-align:center;
}

.opmaak{
    background-color:#474747;
    width:60%;
    height:15rem;
    padding-bottom:30px;
    border:0.5px solid white;
    display:inline-block;
}
img{
    height:90%;
    width:40%;
    float:left;
}
.persoon{
    color: white;
    position: relative;
    bottom: 200px;
    left: 400px;
}
a{
    text-decoration:none;
    color: white;
}

.gamename{
    position: relative;
    bottom: 400px;
    left: 500px;  
    font-weight: 600;  
}
#delete{
    position: relative;
    left: 430px;
    top: 250px;
}
#update{
    position: relative;
    left: 160px;
    bottom: 43px;
    background-color: black;
    color: white; 
}
.names{
    color: white;
    position: relative;
    bottom: 375px;
    left: 600px;
}
#starttijd{
    position: relative;

}
#dump{
    position: relative;
    left: 650px;
}
#no{
    position: relative;
    left: 200px;
    bottom: 22px;
}


a:hover{
    color: black;
}

a:active{
    color: red;
}

#container{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 20px;
}
#footer1{
    background-color: white;
    width: 1240px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 0px;
}
#berkan{
    position: relative;
    bottom: 50px;
    background-color: white;
    padding: 10px 0px;
    width: 1380px;
}
header {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    height: 20px;
    background-color: black;
}

h1 {
    margin: 0;
}

.item{
    border-bottom: 1px solid white;
    padding: 5px;
    margin: 10px;
    display: inline-flex;
    width: 450px;
}

.item:hover{
    background-color: white;
}

.item .left{
    display: inline-block;
    margin-right: 20px;
}

.item .left{
    border: 1px solid black;
    border-radius: 50%;
    height: 150px;
}

.item .right{
    display: inline-block;
}

.item .right h2 {
    padding: 0;
    margin: 0;
}

.item:hover .right ul{
    color: black;
}

.detail {
    position: relative;
}
header .backbutton {
    position: absolute;
    top: 15px;
    right: 15px;
}

.detail .left .right {
    display: inline-block;
}
.detail .left{
    width: 300px;
    margin-right: 20px;
    float: left;
}

.detail .right{
    width: 630px;
}

.detail{
    border: 2px solid black;
}

.detail .stats{
    list-style: none;
    padding: 0;
    padding-left: 20px;
}

footer {
    margin-top: 10px;
    text-align: center;
}

#balk{
    width: 230px;
    height: 100px;
    border: 2px solid black;
}
.info{
    position: relative;
    left: 50px;
    font-weight: 900;
}
.info1{
    position: relative;
    left: 350px;
    bottom: 140px;
    font-weight: 900;
}
.info2{
    position: relative;
    left: 640px;
    bottom: 280px;
    font-weight: 900;
}
#description1{
    font-weight: 800;
    position: relative;
    bottom: 170px;
    width: 600px;
}
.right{
    height: 340px;
}
#blackline{
    background-color: black;
    height: 5px;
    width: 600px;
    position: relative;
    bottom: 340px;
}

#blackline1{
    background-color: black;
    height: 5px;
    width: 600px;
    position: relative; 
    bottom: 130px;
}
